schema/openIndySchema/openIndySchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="oiProjectData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="activeCoordinatesystem">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="ref"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="activeStation">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:byte" name="ref"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="stations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="station">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="activeSensor">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="readingTypes">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="type" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name"/>
                        <xs:attribute type="xs:string" name="plugin"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="position">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="ref"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="coordinatesystem">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="ref"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id"/>
                  <xs:attribute type="xs:string" name="name"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="coordinatesystems">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="coordinatesystem" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="expansionOrigin">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="x" use="optional"/>
                            <xs:attribute type="xs:byte" name="y" use="optional"/>
                            <xs:attribute type="xs:byte" name="z" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="observations" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="observation" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="ref" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:byte" name="solved" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="geometries">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="geometry" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="coordinates">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="x" use="optional"/>
                            <xs:attribute type="xs:float" name="y" use="optional"/>
                            <xs:attribute type="xs:float" name="z" use="optional"/>
                            <xs:attribute type="xs:byte" name="sigmaX" use="optional"/>
                            <xs:attribute type="xs:byte" name="sigmaY" use="optional"/>
                            <xs:attribute type="xs:byte" name="sigmaZ" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="spatialDirection" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="i" use="optional"/>
                            <xs:attribute type="xs:float" name="j" use="optional"/>
                            <xs:attribute type="xs:float" name="k" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="standardDeviation">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="observations" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="observation" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="ref" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="measurementconfig">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="usedFor" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="feature">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="ref" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="previouslyNeeded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="feature" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="ref" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="functions" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="function">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="inputElements" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="inputElement" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:byte" name="index" use="optional"/>
                                              <xs:attribute type="xs:byte" name="type" use="optional"/>
                                              <xs:attribute type="xs:byte" name="ref" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="inputElement" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="index" use="optional"/>
                                        <xs:attribute type="xs:byte" name="type" use="optional"/>
                                        <xs:attribute type="xs:byte" name="ref" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                              <xs:attribute type="xs:string" name="plugin" use="optional"/>
                              <xs:attribute type="xs:byte" name="executionIndex" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                  <xs:attribute type="xs:byte" name="nominal" use="optional"/>
                  <xs:attribute type="xs:byte" name="common" use="optional"/>
                  <xs:attribute type="xs:byte" name="solved" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="observations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="observation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="station">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="ref" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="reading">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="measurements">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="measurement" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                        <xs:attribute type="xs:float" name="value" use="optional"/>
                                        <xs:attribute type="xs:float" name="sigma" use="optional"/>
                                        <xs:attribute type="xs:time" name="time" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                        <xs:attribute type="xs:byte" name="type" use="optional"/>
                        <xs:attribute type="xs:dateTime" name="time" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:float" name="x" use="optional"/>
                  <xs:attribute type="xs:float" name="y" use="optional"/>
                  <xs:attribute type="xs:float" name="z" use="optional"/>
                  <xs:attribute type="xs:byte" name="isValid" use="optional"/>
                  <xs:attribute type="xs:float" name="sigmaX" use="optional"/>
                  <xs:attribute type="xs:float" name="sigmaY" use="optional"/>
                  <xs:attribute type="xs:float" name="sigmaZ" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:dateTime" name="date"/>
      <xs:attribute type="xs:byte" name="idcount"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

